.profileDib{
    margin: 20px;
    h3{
        font-weight: 700;
    }
    p{
        font-weight: 500;
    }
    button{
        background-color: white;
        color: black;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 5px 10px;
    }
}