.navBar{
    width: 100vw;
    height: 29px;
    box-sizing: border-box;
    display: flex;align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid white;
    padding: 20px;
    .navButtons{
        display: flex;
        gap: 10px;
        .link{
            font-weight: 500;
            background: transparent;
            color: white;
            cursor: pointer;
            text-decoration: none;
        }
    }
}